body{margin:0;background:#efefef url("../images/bg.png") repeat;font-family:Helvetica,Arial,sans-serif;font-size:13px}
a:link,a:visited{color:#369;font-weight:bold;text-decoration:none;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out}
a:hover{color:#204060;border-bottom:1px solid #204060}
#header{background:#474747 url("../images/header-bg.png");height:50px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
#header header{width:940px;margin:0 auto;line-height:50px}
#header h1{margin:0;font-size:19px}
#header h1 a{color:#fff;font-weight:normal;-webkit-transition:all .12s ease-out;-moz-transition:all .12s ease-out;-o-transition:all .12s ease-out;text-shadow:0 3px 8px #2a2a2a;}
#header h1 a:hover{color:#ccc;border:0}
#header span{color:#919191;font-size:19px;font-weight:normal}
#container{width:940px;margin:0 auto;color:#333;font-size:13px;line-height:1.5;position:relative;*zoom:1;}
#container:before,#container:after{display:table;content:""}
#container:after{clear:both}
#container #content{width:680px;float:left;margin-top:20px}
#container #sidebar{width:220px;float:right;margin-top:20px}
#container #fixer{position:fixed;width:2400px;margin:-50px 0 0 700px;float:right;height:10000px;z-index:-1}
#sidebar h3{color:#2d5986;font-size:18px;margin:0 0 0 0;padding:0 0 0 0;font-weight:normal}
#sidebar .box{margin:0 20px 10px -20px;padding:0 0 10px 20px;color:#777}
#sidebar a{color:#444;font-weight:normal;padding-bottom:2px;}
#sidebar a:hover{color:#369;border-bottom:1px solid #369}
#sidebar{line-height:2}
#sidebar ul{padding:0;margin:0;list-style:none;font-size:14px}
article h1{margin:0;font-size:18px;padding:0 0 5px 0;border-bottom:1px solid #cdcdcd;}
article h1 a:hover{border:0}
article p{text-align:justify}
article ul.meta{list-style:none;padding:0 0 5px 0;margin:5px 0 0 0}
article ul.meta li{display:inline-block;color:#888;font-size:12px;margin-right:50px}
article ul.meta li.date{margin-right:0}
article ul.meta li.category{margin-right:1ex}
article ul.meta li.author{margin-right:1ex}
article ul.meta li.tags{margin-right:1ex}
article ul.meta li.comments{float:right;margin-right:0;text-transform:lowercase}
article ul,ol{margin:0 0 18px 25px;padding:0;color:#555}
article ul{list-style:circle}
article img{margin:0 auto;border:1px solid #ccc;max-width:680px}
#footer{width:960px;margin:20px auto 10px;height:50px;padding-top:10px;border-top:1px solid #ddd;border-top:1px dotted #dee2e7}
#footer p{text-align:center}
#footer a{color:#444;font-weight:bold;padding-bottom:2px;}
#footer a:hover{color:#369;border-bottom:1px solid #369}
#sidebar .dsq-widget-item{margin:0 0 5px 0;padding:0}
#sidebar .dsq-widget-list{font-size:12px}
#sidebar .dsq-widget-user{font-weight:bold;}
#sidebar .dsq-widget-user:before{content:"@"}
#sidebar .dsq-widget-meta a:first-child{display:none}
#sidebar .dsq-widget-meta{display:inline;font-size:100%}
